stages:
  - test

image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/cimg/go:1.25

workflow:
  auto_cancel:
    on_new_commit: interruptible

.go-setup:
  interruptible: true
  cache:
    key:
      files:
        - go.sum
    paths:
      - ${GOMODCACHE}/
  variables:
    GOMODCACHE: $CI_PROJECT_DIR/.gomodcache
  before_script:
    - mkdir -p ${GOMODCACHE}

    # Create fake embedded files for lint and test purposes:
    - mkdir -p internal/legacy/archives
    - touch internal/legacy/archives/platform.phar
    - touch internal/legacy/archives/php_windows_amd64
    - touch internal/legacy/archives/php_linux_amd64
    - touch internal/legacy/archives/php_linux_arm64
    - touch internal/legacy/archives/php_darwin_amd64
    - touch internal/legacy/archives/php_darwin_arm64
    - touch internal/config/embedded-config.yaml

test:
  stage: test
  extends: .go-setup
  script:
    - go test -v -race -cover ./...
  coverage: '/total:\s+\(statements\)\s+\d+.\d+%/'

golangci-lint:
  stage: test
  extends: .go-setup
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/golangci/golangci-lint:v2.4
  script: golangci-lint run --timeout 0 --verbose

legacy-php:
  stage: test
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/php:8.4-cli
  interruptible: true
  cache:
    key:
      files:
        - legacy/composer.lock
    paths:
      - ${COMPOSER_HOME}/
  variables:
    COMPOSER_HOME: $CI_PROJECT_DIR/.composer
  before_script:
    - apt-get update && apt-get install -y zip unzip git
    - php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
    - php composer-setup.php --install-dir=/usr/local/bin --filename=composer
    - cd legacy
    - composer install --no-interaction
  script:
    - make lint-php-cs-fixer lint-phpstan
    - ./scripts/test/unit.sh
