# Upsun CLI configuration
#
# See ../internal/config/schema.go for the required keys
wrapper:
  homebrew_tap: platformsh/tap/upsun-cli
  github_repo: upsun/cli

application:
  name: "Upsun CLI"
  slug: "upsun"
  executable: "upsun"
  env_prefix: "UPSUN_CLI_"
  user_config_dir: ".upsun-cli"

  mark_unwrapped_legacy: true

  disabled_commands:
    - self:install
    - self:update
    - local:build
    - local:drush-aliases
    - project:variable:delete
    - project:variable:get
    - project:variable:set
    - variable:disable
    - variable:enable
    - variable:set

service:
  name: "Upsun"

  env_prefix: "PLATFORM_"

  project_config_dir: ".upsun"
  project_config_flavor: "upsun"

  console_url: "https://console.upsun.com"

  docs_url: "https://docs.upsun.com"
  docs_search_url: "https://docs.upsun.com/search.html?q={{ terms }}"

  register_url: "https://auth.upsun.com/register"
  reset_password_url: "https://auth.upsun.com/reset-password"

  pricing_url: "https://upsun.com/pricing"

  activity_type_list_url: "https://docs.upsun.com/anchors/integrations/activity-scripts/type/"

  runtime_operations_help_url: "https://docs.upsun.com/anchors/app/runtime-operations/"

api:
  base_url: "https://api.upsun.com"

  auth_url: "https://auth.upsun.com"
  oauth2_client_id: "upsun-cli"

  ai_url: "https://ai.upsun.com"

  organization_types: [flexible, fixed]
  default_organization_type: flexible

  organizations: true
  user_verification: true
  metrics: true
  sizing: true
  teams: true

  vendor_filter: upsun

ssh:
  domain_wildcards: ["*.platform.sh", "*.upsun.com"]

detection:
  git_remote_name: "upsun"
  git_domain: "platform.sh" # matches git.eu-5.platform.sh, etc.
  site_domains: ["platformsh.site", "tst.site", "upsunapp.com", "upsun.app"]
  cluster_header: 'X-Platform-Cluster'

browser_login:
  body: |
    <img
      src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIGlkPSJ1dWlkLTk2NDZkYjJkLTc3NjItNDc3Yy05MWMzLWE3OGZhNmY3ZTYzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNDAzLjM3IDI0OS4zIj48cGF0aCBkPSJtMTYzLjg4LDE0My40NmMtMi42LDAtNC44Mi0uNTctNi42Ny0xLjctMS44NS0xLjEzLTMuMjYtMi42NC00LjIyLTQuNTQtLjk2LTEuOS0xLjQ0LTQuMDMtMS40NC02LjM4di0yNC44OWgxMC44MnYyMi44YzAsMi4wMi41LDMuNTQsMS41MSw0LjU0czIuNDMsMS41MSw0LjI2LDEuNTFjMS42MywwLDMuMDgtLjM4LDQuMzMtMS4xNSwxLjI1LS43NywyLjI1LTEuODQsMi45OS0zLjIxLjc1LTEuMzcsMS4xMi0yLjk1LDEuMTItNC43MmwuOTQsOC44N2MtMS4yLDIuNjUtMi45Niw0Ljc5LTUuMjcsNi40Mi0yLjMxLDEuNjQtNS4xLDIuNDUtOC4zNywyLjQ1Wm0xMi45MS0uNzJ2LTguNjZoLS4yMnYtMjguMTNoMTAuODJ2MzYuNzloLTEwLjZaIi8+PHBhdGggZD0ibTIxNi42OSwxNDMuNDZjLTMuNTEsMC02LjMyLS44Mi04LjQ0LTIuNDUtMi4xMi0xLjYzLTMuMzctMy44Ny0zLjc1LTYuNzFsLjU4LS4wN3YyMy4zaC0xMC44MnYtNTEuNThoMTAuNnY4LjE1bC0uNjUtLjE0Yy41My0yLjY5LDEuOTctNC44Miw0LjMzLTYuMzgsMi4zNi0xLjU2LDUuMjctMi4zNCw4LjczLTIuMzRzNi4xOS43OCw4LjYyLDIuMzRjMi40MywxLjU2LDQuMywzLjc2LDUuNjMsNi42LDEuMzIsMi44NCwxLjk4LDYuMTgsMS45OCwxMC4wM3MtLjcsNy4yOS0yLjA5LDEwLjE3Yy0xLjQsMi44OS0zLjM0LDUuMTItNS44NCw2LjcxLTIuNSwxLjU5LTUuNDYsMi4zOC04Ljg3LDIuMzhabS0zLjAzLTguNjZjMi41NSwwLDQuNjItLjkxLDYuMi0yLjc0LDEuNTktMS44MywyLjM4LTQuNDIsMi4zOC03Ljc5cy0uODEtNS45NC0yLjQyLTcuNzJjLTEuNjEtMS43OC0zLjcyLTIuNjctNi4zMS0yLjY3cy00LjU2LjktNi4xNywyLjcxYy0xLjYxLDEuOC0yLjQyLDQuMzktMi40Miw3Ljc1cy44LDUuOTUsMi40Miw3Ljc1YzEuNjEsMS44LDMuNzIsMi43MSw2LjMxLDIuNzFaIi8+PHBhdGggZD0ibTI1NC40MiwxNDMuNDZjLTUuMzksMC05LjY3LTEuMDgtMTIuODQtMy4yNS0zLjE3LTIuMTctNC45MS01LjE1LTUuMTktOC45NWg5LjY3Yy4yNCwxLjYzLDEuMDcsMi44NywyLjQ5LDMuNzEsMS40Mi44NCwzLjM4LDEuMjYsNS44OCwxLjI2LDIuMjYsMCwzLjkxLS4zMyw0Ljk0LS45NywxLjAzLS42NSwxLjU1LTEuNTcsMS41NS0yLjc4LDAtLjkxLS4zLTEuNjItLjktMi4xMy0uNi0uNS0xLjctLjkyLTMuMjgtMS4yNmwtNS45Mi0xLjIzYy00LjM4LS45MS03LjYtMi4zLTkuNjctNC4xNS0yLjA3LTEuODUtMy4xLTQuMjQtMy4xLTcuMTgsMC0zLjU2LDEuMzctNi4zNCw0LjExLTguMzMsMi43NC0yLDYuNTYtMi45OSwxMS40Ny0yLjk5czguNzMuOTcsMTEuNjEsMi45MmMyLjg5LDEuOTUsNC40Nyw0LjY1LDQuNzYsOC4xMmgtOS42N2MtLjE5LTEuMjUtLjg3LTIuMi0yLjAyLTIuODVzLTIuNzktLjk3LTQuOTEtLjk3Yy0xLjkyLDAtMy4zNS4yOC00LjI5LjgzLS45NC41NS0xLjQxLDEuMzMtMS40MSwyLjM0LDAsLjg3LjM4LDEuNTUsMS4xNSwyLjA2Ljc3LjUsMi4wNC45NSwzLjgyLDEuMzNsNi42NCwxLjM3YzMuNy43Nyw2LjUsMi4yLDguNCw0LjI5LDEuOSwyLjA5LDIuODUsNC41NiwyLjg1LDcuMzksMCwzLjYxLTEuNDEsNi40MS00LjIyLDguNC0yLjgxLDItNi43OSwyLjk5LTExLjk0LDIuOTlaIi8+PHBhdGggZD0ibTI4Ni45NiwxNDMuNDZjLTIuNiwwLTQuODItLjU3LTYuNjctMS43LTEuODUtMS4xMy0zLjI2LTIuNjQtNC4yMi00LjU0LS45Ni0xLjktMS40NC00LjAzLTEuNDQtNi4zOHYtMjQuODloMTAuODJ2MjIuOGMwLDIuMDIuNSwzLjU0LDEuNTEsNC41NCwxLjAxLDEuMDEsMi40MywxLjUxLDQuMjYsMS41MSwxLjYzLDAsMy4wOC0uMzgsNC4zMy0xLjE1LDEuMjUtLjc3LDIuMjUtMS44NCwyLjk5LTMuMjEuNzQtMS4zNywxLjEyLTIuOTUsMS4xMi00LjcybC45NCw4Ljg3Yy0xLjIsMi42NS0yLjk2LDQuNzktNS4yNyw2LjQyLTIuMzEsMS42NC01LjEsMi40NS04LjM3LDIuNDVabTEyLjkxLS43MnYtOC42NmgtLjIydi0yOC4xM2gxMC44MnYzNi43OWgtMTAuNloiLz48cGF0aCBkPSJtMzE3LjMzLDE0Mi43M3YtMzYuNzloMTAuNnY4LjY2aC4yMnYyOC4xM2gtMTAuODJabTI1LjYxLDB2LTIyLjhjMC0yLjAyLS41Mi0zLjU0LTEuNTUtNC41NC0xLjAzLTEuMDEtMi41NC0xLjUxLTQuNTEtMS41MS0xLjY4LDAtMy4xOS4zOS00LjUxLDEuMTUtMS4zMi43Ny0yLjM2LDEuODMtMy4xLDMuMTctLjc1LDEuMzUtMS4xMiwyLjkzLTEuMTIsNC43NmwtLjk0LTguODdjMS4yLTIuNjksMi45Ny00Ljg0LDUuMy02LjQ2LDIuMzMtMS42MSw1LjIxLTIuNDIsOC42Mi0yLjQyLDQuMDksMCw3LjIxLDEuMTQsOS4zOCwzLjQzLDIuMTYsMi4yOSwzLjI1LDUuMzUsMy4yNSw5LjJ2MjQuODloLTEwLjgyWiIvPjxnIGlkPSJ1dWlkLTg2Yjg5MTUxLWU2NWMtNGRhZi1iNWM2LTI2ZmEwYzhlMzk0ZCI+PHBhdGggZD0ibTg5Ljc5LDEwMy4wNGMxMS45NiwwLDIxLjYzLDkuNjksMjEuNjMsMjEuNjNoMjEuNjNjMC0yMy44OS0xOS4zNi00My4yNy00My4yNy00My4yN3MtNDMuMjcsMTkuMzYtNDMuMjcsNDMuMjdoMjEuNjNjLjA1LTExLjk2LDkuNzQtMjEuNjMsMjEuNjctMjEuNjNaIi8+PHBhdGggZD0ibTk3LjEyLDE0NWM4LjM0LTMuMDEsMTQuMjktMTAuOTgsMTQuMjktMjAuMzRoLTQzLjI1YzAsOS4zNiw1Ljk2LDE3LjM1LDE0LjI5LDIwLjM0di4zN2gtMzAuNjRjNy4zMywxMy40MywyMS42LDIyLjU0LDM4LDIyLjU0czMwLjY0LTkuMTEsMzgtMjIuNTRoLTMwLjY5di0uMzdaIi8+PC9nPjwvc3ZnPg=="
      alt=""
      height="100"
      class="icon">

    <h1>{{title}}</h1>

    {{content}}

messages:
  region_discount: Get a <options=bold;fg=green>3% discount</> on resources for regions with a carbon intensity of less than 100 gCO2eq/kWh.

warnings:
  guaranteed_resources_msg: |
    You have chosen to allocate guaranteed resources for app(s) and/or service(s).
    This change may affect resource costs. See: <info>https://upsun.com/pricing/</info>

    This process requires a redeployment of containers on their own host, which may take a few minutes to complete.

  guaranteed_resources_branch_msg: |
    Guaranteed resources from the parent will be provisioned, impacting your bill.
